<div>
  <h1>Login</h1>
  <form #form="ngForm" autocomplete="off">
    <div>
      <label for="mail">Mail</label>
      <input type="email" id="mail" [(ngModel)]="mailCredentials.email" name="email" required>
    </div>
    <div>
      <label for="password">Passwort</label>
      <input type="password" id="password" [(ngModel)]="mailCredentials.password" name="password" required>
    </div>
    <button type="submit" (click)="login()" [disabled]="!mailCredentials.email || !mailCredentials.password">Login</button>
    <button (click)="logout()" *ngIf="user | async">
      Logout
    </button>
  </form>

  Noch kein Account? Hier <a routerLink="/signup">Registrieren</a>
</div>
